@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
  --bg-primary: #4d73e2;
  /* Matched from hero image */
  --text-primary: #ffffff;
  --font-main: 'Poppins', sans-serif;
  --accent-color: #ff9f43;
  /* Examples for props */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(180deg, #4d73e2 0%, #466bdd 100%);
  background-attachment: fixed;
  /* Ensures gradient stretches full height */
  color: var(--text-primary);
  font-family: var(--font-main);
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  transition: opacity 0.3s;
}

a:hover {
  opacity: 0.8;
}